<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>

<!--    引用外部配置文件-->
    <properties resource="db.properties"/>

<!--    配置设置-->
    <settings>
<!--        标准的日志工厂实现-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
<!--        <setting name="logImpl" value="Log4j"/>-->
    </settings>

    <!--    可以给实体类起别名-->
    <typeAliases>
        <typeAlias type="edu.pojo.User" alias="User"/>
    </typeAliases>

    <!--    环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

<!--&lt;!&ndash;    每一个mapper.xml都需要再mybatis核心配置文件中注册&ndash;&gt;-->
<!--    <mappers>-->
<!--        <mapper resource="edu/dao/UserMapper.xml"></mapper>-->
<!--    </mappers>-->

<!--    绑定接口-->
    <mappers>
        <mapper class="edu.dao.UserMapper"/>
    </mappers>
</configuration>